RewriteEngine On

# Allow direct access to files inside the public folder

RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^ - [L]

# Allow direct access to index.php and root URI "/"

RewriteCond %{REQUEST_URI} ^/$ [OR]
RewriteCond %{REQUEST_URI} ^/index\.php$
RewriteRule ^ - [L]

# Deny direct access to any other existing files or directories

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [F,L]

# Route everything else to index.php (SPA front controller)

RewriteRule ^(.\*)$ index.php [QSA,L]
