/* IMPORTANT: relies on styles.css being loaded beforehand */

.language-toggle {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--shadow-secondary);
}

.language-toggle select {
  font-size: clamp(0.8rem, 2.8vw, 1rem);
  padding: 6px;
  border-radius: 6px;
  border: 2px solid transparent;
  color: var(--color-primary);
}

.language-toggle select:focus {
  outline: none;
  border: 2px solid var(--color-primary);
  color: var(--color-secondary);
}
