/* IMPORTANT: relies on styles.css being loaded beforehand*/

.main-nav {
  background-color: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  gap: 12px;
}

.nav-link {
  margin: 0 18px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--secondary-color);
}

nav .nav-link .material-icons {
  margin-right: 6px;
  font-size: 22px;
  color: var(--primary-color);
  transition: transform 0.3s ease;
  position: relative;
  bottom: 0.9px;
}

.nav-link:hover .material-icons,
.nav-link.active .material-icons {
  transform: scale(1.2);
}
